<div class='left-tix'></div>
<div class='right-tix'></div>
<div class='circ1'></div>
<div class='circ2'></div>
<div class='circ3'></div>
<div class='circ4'></div>
<div class='circ5'></div>
<div class='circ6'></div>


<style>
  body{
    background:#62306D;
  }
  .left-tix{
    width:140;
    height:100;
    background:#F7EC7D;
    position:absolute;
    left:100;
    top:100;
  }
  .right-tix{
    width:60;
    height:100;
    background:#E38F66;
    position:absolute;
    left:240;
    top:100;
  }
  .circ1{
    width:40;
    height:40;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:80;
    top:80;
  }
  .circ2{
    width:40;
    height:40;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:80;
    top:180;
  }
  .circ3{
    width:40;
    height:40;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:280;
    top:180;
  }
  .circ4{
    width:40;
    height:40;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:280;
    top:80;
  }
  .circ5{
    width:20;
    height:20;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:230;
    top:90;
  }
  .circ6{
    width:20;
    height:20;
    border-radius:100%;
    background:#62306D;
    position:absolute;
    left:230;
    top:190;
  }
  
</style>